.prices .title-small {
  color: gray;
}

.fare, .fare-head, .fare-footer {
  border-radius: 3px;
}

.fare-head, .fare-footer {
  background: #e3e3e3;
  color: gray;
  padding: 20px 0;
}

.fare {
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 95%;
  margin: auto;
}

.fare-head {
  border-bottom: 1px solid #ccc;
}

.fare .fare-price {
  font-weight: normal;
}

.fare-features-item {
  list-style: square;
  list-style-position: inside;
  padding-left: 5px;
  padding-right: 5px;
  margin: 20px 0;
}

.fare-features-item-none {
  list-style: none;
  padding-left: 0;
  margin: 20px 0;
}

.fare_featured {
  background: #ffcc0096;
  border-color: #63666A;
}

.fare_featured * {
  color: #000000;
}

.fare_featured .text-medium,
.fare_featured .text-lead {
  color: #000000;
}

.fare_featured .fare-footer,
.fare_featured .fare-head {
  background: #FFCC00;
  border-color: #63666A;
}

@media (max-width: 960px) {
  .fare {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .fare {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
