.header {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  opacity: 0.95;
}

.header-logo {
  float: left;
  display: inline;
  height: 36px;
  width: 278px;
  padding: 0 30px;
}

.header-nav {
  float: right;
  vertical-align: baseline;
  line-height: 36px;
}

.header-nav-item {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: inline-block;
}

.header-nav-link {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.header-nav-link:hover {
  color: #63666A;
  background: #FFCC0075;
  padding: 0 5px;
}

@media (max-width: 855px) {
  .header {
    position: inherit;
    width: auto;
    background: #fff;
    top: auto;
    opacity: 1;
    right: -100%;
  }
    .header-nav,
  .header-logo {
    float: none;
  }
}

@media (max-width: 520px) {
  .header-nav-item {
    position: inherit;
    display: block;
    margin-bottom: 0;
  }
}

@media (max-width: 310px) {
  .header-nav-item {
    position: inherit;
    display: block;
    margin-bottom: 0;
  }
}
